# Ignore Maven output
/target/

# Ignore IntelliJ IDEA project files
*.iml
.idea/

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore logs and OS files
*.log
.DS_Store
Thumbs.db

# Ignore build tool files
.gradle/
build/
